* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: url(https://miro.medium.com/v2/resize:fit:1200/1*6Jp3vJWe7VFlFHZ9WhSJng.jpeg);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: seagreen;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  border-bottom: 5px solid black;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
.logo {
  font-size: 32px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}
.logo img{
  width: 50%;
  border-radius: 50%;
}
.navbar a {
  position: relative;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
}
.navbar a::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: #fff;
  transition: 0.3s;
}
.navbar a:hover::before {
  width: 100%;
}

.Login_body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 100px;
  margin-top: 30px;
}
.Login_body h1 {
  color: black;
}
.LG_form {
  width: 420px;
  background-color: rgb(220, 227, 210);
  color: white;
  border-radius: 20px;
  padding: 0 30px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.LG_form h1 {
  font-weight: 10px;
  text-align: center;
}
.LG_form .user {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}
.user input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid black;
  border-radius: 40px;
  font-size: 16px;
  padding: 20px 45px 20px 20px;
}
.user input::placeholder {
  color: white;
}
.user i {
  position: absolute;
  right: 20px;
  top: 30%;
  transform: translate(-50%);
  font-size: 20px;
  color: black;
}
.user input::placeholder {
  color: black;
}
.LG_form .Remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}
.Remember-forgot input {
  accent-color: white;
  margin-right: 3px;
}
.Remember-forgot a {
  color: black;
  text-decoration: none;
}
.Remember-forgot a:hover {
  text-decoration: underline;
}
.Rem {
  color: black;
}
.LG_form .btn {
  width: 100%;
  height: 45px;
  background: white;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: #333;
  font-weight: 600;
}
.btn {
  color: black;
  margin: 10px;
}
.LG_form .SU {
  font-size: 14.5px;
  text-align: center;
  margin-top: 20px;
}
.SU p a {
  color: white;
  text-decoration: none;
}
.SU p a:hover {
  text-decoration: underline;
}
.SU {
  color: black;
  margin-top: 30px;
}
